* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
:root {
  --main-color: #c4c4c4;
  --secondary-color: #383f58;
  --link-color: #00b0ff;
  --special: rgb(78, 78, 78);
}
.title {
  color: var(--link-color);
  font-size: 2rem;
}
header {
  background: var(--secondary-color);
}
.nav {
  border-bottom: solid 2px var(--main-color);
  background: var(--secondary-color);
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.links {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link a {
  color: var(--main-color);
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
}
.nav-link a:hover {
  color: var(--link-color);
}
.line {
  width: 25px;
  height: 4px;
  background: var(--main-color);
  margin: 3px;
}
.burger {
  display: none;
}
.landing {
  margin-top: 3.5rem;
  text-align: center;
  min-height: 91vh;
}
.intro-wraper {
  display: flex;
  max-width: 1050px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.svg {
  width: 100%;
  height: 450px;
}
.title-intro {
  color: var(--main-color);
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
}
.brief {
  color: var(--link-color);
  font-size: 1.5rem;
}
.contact-btn {
  margin-bottom: 2rem;
  margin-top: 2.8rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  color: var(--secondary-color);
}
.contact-btn:hover {
  color: var(--link-color);
  border: var(--link-color) solid 2px;
  background-color: var(--secondary-color);
}

.title-main {
  color: var(--secondary-color);
  font-size: 2rem;
  margin: 2rem;
}
.title-h2 {
  font-size: 1.6rem;
  color: var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* about page */
.about {
  text-align: center;
}
.upper {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-left {
  color: var(--special);
  font-size: 1.5rem;
  padding: 1rem;
}
.down-skills {
  background: var(--main-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cards-wrapper {
  display: flex;
  max-width: 1050px;
  margin: auto;
  justify-content: space-between;
}
.cards-wrapper :last-child {
  border-right: none;
}
.each-card {
  color: #383f58;
  padding: 1rem;
  line-height: 2rem;
  border-right: 2px solid gray;
}
.each-card h2 {
  font-size: 1.5rem;
}
.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: 1.9rem;
}
.each-li a {
  color: var(--secondary-color);
  margin: 1.5rem;
}
.each-li a:hover {
  color: var(--link-color);
}

/* projects */
.projects {
  max-width: 1050px;
  margin: auto;
  text-align: center;
  color: #383f58;
}
.each-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
  border-bottom: solid var(--special) 1px;
}
.projects-container :nth-child(even) {
  flex-direction: row-reverse;
}
.left-text p {
  font-size: 1.3rem;
  margin: 1.5rem;
}
a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.1rem;
}
.source-code,
.visit {
  background: var(--secondary-color);
  padding: 0.6rem 2.3rem;
  border: none;
  border-radius: 5px;
}

/* media queries */
@media screen and (max-width: 600px) {
  .links {
    flex-direction: column;
  }
  .burger {
    padding-top: 9px;
    display: inline;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 10px;
  }
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -16%);
    -webkit-clip-path: circle(100px at 90% -16%);
    pointer-events: none;
  }
  .nav-links.open {
    display: flex;
    clip-path: circle(1000px at 90% -16%);
    -webkit-clip-path: circle(1000px at 90% -16%);
    transition: all 150ms ease-in-out;
    pointer-events: all;
  }
  .nav-link {
    margin-bottom: 1.5rem;
  }

  /* intro */
  .intro-wraper {
    flex-direction: column;
  }
  .title-intro {
    font-size: 2.2rem;
  }
  .brief {
    font-size: 1.5rem;
  }
  /* about page */
  .cards-wrapper {
    flex-direction: column;
  }
  .cards-wrapper :last-child {
    border-bottom: none;
  }
  .upper {
    flex-direction: column-reverse;
  }

  .each-card {
    border-right: none;
    border-bottom: 2px solid gray;
  }
  /* project */
  .each-project {
    flex-direction: column;
  }
  .projects-container :nth-child(even) {
    flex-direction: column;
  }
  .project-img img {
    width: 100%;
  }
} ;
