@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #f9faff;
  --secondary-color: #222f3d;
  --link-color: #aab420;
  --special: rgb(195, 195, 195);
  --hover: rgb(3, 68, 143);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 2px;
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--link-color);
  border-radius: 1px;
}
body {
  font-family: 'Poppins', sans-serif;
  color: rgb(37, 37, 37);
  font-size: 0.9rem;
}

header {
  background-color: var(--secondary-color);
  height: 100vh;
}

.nav {
  border-bottom: solid 2px var(--secondary-color);
  background: var(--secondary-color);
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.links {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link a {
  color: var(--main-color);
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
}
.nav-link a:hover {
  color: var(--link-color);
}
.each-li {
  display: flex;
  margin-top: 0.5rem;
}
.each-li span {
  margin-right: 1rem;
}
.line {
  width: 25px;
  height: 4px;
  background: var(--main-color);
  margin: 3px;
}
.burger {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.7rem 0;
}
.none {
  display: none;
}
/* == form validation */
.success {
  text-align: center;
  padding: 1rem;
  color: rgb(18, 194, 18);
}
.invalidMsg {
  text-align: center;
  padding: 1rem;
  color: rgb(248, 15, 15);
}

.imgPreview {
  max-width: 500px;
  max-height: 600px;
  margin: auto;
}
.preview {
  max-width: 100%;
  max-height: 100%;
}

.dd-menu {
  color: var(--main-color);
  text-align: center;
  background: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 0 5px;
  padding: 1rem;
  display: none;
  position: absolute;
}

.dd-link {
  cursor: pointer;
  margin: 1rem;
}
.dd-link:hover {
  color: var(--link-color);
}

.intro-wraper {
  max-width: 600px;
  margin: auto;
  font-size: 1.5rem;
  color: var(--special);
}
.landing {
  text-align: center;
  margin: 0 auto;
}
.title-intro {
  padding-top: 15rem;
}
.special-link {
  background-color: var(--link-color);
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 40px;
}
.special-link:hover {
  color: #222f3d;
}
.para {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.title {
  font-size: 1.8rem;
  color: var(--link-color);
}
.title-main {
  text-align: center;
}
.button {
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
}
.shadow-btn {
  box-shadow: 0 0 60px rgb(194, 194, 194);
  padding: 0.5rem 1rem;
}
.button:hover {
  color: white;
  opacity: 0.8;
}
.title-main {
  margin-top: 3rem;
  text-align: center;
}
.about {
  max-width: 1100px;
  margin: 3rem auto;
}
.upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.down {
  margin-top: 3rem;
}

.right-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-read {
  margin: 0 1rem;
}
.skill {
  border-radius: 20px;
  background: var(--special);
  width: 20rem;
  margin: 0.5rem 0;
}
.percentage {
  margin-left: 1rem;
  color: var(--secondary-color);
  font-weight: bolder;
}
.skill-bar {
  color: var(--link-color);
  font-weight: bolder;
  background: var(--secondary-color);
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 20px;
}
.left-me {
  text-align: center;
  margin-top: auto;
}
.my-prot-pic {
  border-radius: 500px;
  border: 1px solid var(--link-color);
}
.projects {
  margin: 4rem 0.5rem 2rem 0.5rem;
  text-align: center;
}
.code {
  color: var(--secondary-color);
  padding: 1rem;
}
.p-name {
  margin-top: 10rem;
}
.text {
  text-align: center;
}
.tech {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
}

.afrinet {
  border-top: 5px solid rgb(0, 26, 172);
}
.afrinet .each-tech {
  border: 1px solid rgb(0, 26, 172);
}
.smart {
  border-top: 5px solid rgb(163, 34, 202);
}
.smart .each-tech {
  border: 1px solid rgb(163, 34, 202);
}
.port {
  border-top: 5px solid rgb(100, 204, 155);
}
.port .each-tech {
  border: solid 1px rgb(100, 204, 155);
}
.each-tech {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(100, 204, 155);
}
.projects-container {
  position: relative;
}
.each-project {
  position: relative;
  grid-gap: 2rem;
  border-radius: 5px;
  max-width: 1000px;
  padding: 1rem;
  margin: 12rem auto 0 auto;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 100px rgb(200, 199, 199);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 15%;
  width: auto;
  padding: 1rem;
  background: var(--secondary-color);
  color: rgb(100, 204, 155);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 13.5%;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 13.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: black;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: var(--secondary-color);
}
button a {
  color: white;
  text-decoration: none;
}
.project-img {
  position: absolute;
  top: -33%;
  left: 33%;
}
.more-btn {
  margin: 2rem auto;
  max-width: 200px;
}
.fill {
  width: 100%;
  height: 200px;
}
.each-post {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(221, 221, 221);
  margin: 1rem 0;
}
.blog-posts-container {
  overflow: hidden;
  margin: auto;
  max-width: 1100px;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.post-title {
  margin: 2rem 0;
  height: 55px;
}
.contact-page {
  background: var(--secondary-color);
  display: flex;
  justify-content: space-around;
}
.socials {
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  margin: 1rem auto;
}
.socials a {
  color: var(--link-color);
  font-size: 2rem;
}
.socials a:hover {
  color: var(--special);
}
.contact-form {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
}
.title-contact {
  color: var(--special);
}
input,
textarea {
  width: 20rem;
  padding: 1rem;
  margin: 0.6rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--link-color);
}
.submit {
  margin: auto;
}

.footer-msg {
  background: black;
  padding: 2rem;
  color: var(--special);
  text-align: center;
}
.call {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--special);
  text-align: left;
  line-height: 1.2rem;
}
.footer-msg span {
  color: var(--link-color);
}
span {
  margin-left: 0.5rem;
}
/* LOGIN FORM */
.login {
  background-color: var(--link-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1424' height='1424' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23080c1b'/%3E%3Cstop offset='1' stop-color='%230c132b'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%230c0815'/%3E%3Cstop offset='0.09' stop-color='%230f0a1b'/%3E%3Cstop offset='0.18' stop-color='%23110b1e'/%3E%3Cstop offset='0.31' stop-color='%23120c21'/%3E%3Cstop offset='0.44' stop-color='%23130d23'/%3E%3Cstop offset='0.59' stop-color='%23140d24'/%3E%3Cstop offset='0.75' stop-color='%23150e25'/%3E%3Cstop offset='1' stop-color='%23150e26'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.71' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  align-items: center;
}
.login-page {
  display: flex;
  max-width: 500px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.social-login .each-social {
  margin: 0 1rem;
}
/* SUBSCRIBE SECTION */
.subscribe-sec {
  margin: 6rem 0 0 0;
}
.subscribe_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_header a {
  margin: 2rem 0;
}
.subscribe_btn {
  padding: 0.2rem 1rem;
  background: var(--first-color);
  color: white;
  font-weight: bold;
  border-radius: 0.8rem;
}
.subscribe_btn:hover {
  background: var(--second-color);
}
.bg-modal {
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-contents {
  width: 500px;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  margin: auto;
}
.modal-contents form > input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.submit:hover {
  background: var(--second-color);
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: var(--link-color);
  transform: rotate(45deg);
  cursor: pointer;
}
.close:hover {
  color: #666;
}

/* ================== */

/* BLOG  */
.posts-container {
  max-width: 800px;
  margin: 2rem auto;
}
.post-card {
  box-shadow: 0 0 30px rgb(189, 189, 189);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
  overflow: hidden;
  margin: 0.6rem 0;
}
.left-blog-card {
  padding: 1rem;
}
.left-blog-card a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.2rem;
}
.title-blog {
  height: 60px;
  overflow: hidden;
  font-weight: bolder;
}
.title-blog:hover {
  color: var(--link-color);
}
.para-blog {
  margin: 2rem 0;
  font-size: 1rem;
  max-height: 200px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-img {
  width: 100%;
  height: 100%;
}

.login-page input {
  color: var(--special);
}
.white-input input,
textarea {
  color: var(--special);
}
/* DASHBOARD */
.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  background: rgb(47, 48, 65);
  color: var(--special);
}
.hidden-over {
  /* display: none; */
  background: rgb(47, 48, 65);
  color: var(--special);
  margin-left: 1rem;
  margin-right: 1rem;
}
.close-btn {
  background: rgb(255, 60, 0);
  color: var(--secondary-color);
  font-size: 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transform: rotate(45deg);
  text-align: center;
  z-index: 2;
}
.dash-nav {
  background: var(--secondary-color);
}
.dash-nav links {
  display: flex;
  justify-content: space-between;
}
.over-view {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 1rem 2rem;
}
.right {
  margin-top: 5rem;
  margin-left: 15rem;
}
.avatar {
  width: 40px;
  height: 40px;
  margin-left: 2rem;
  border-radius: 50px;
}
.card-over-view {
  display: flex;
  justify-content: left;
  margin: 0.5rem 0;
  padding: 1rem;
  border-bottom: 1px solid rgb(87, 87, 87);
  font-size: 1.2rem;
}
.card-over-view i {
  font-size: 1.7rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid rgb(87, 87, 87);
}
.views i {
  color: #379af6;
}
.posts i {
  color: #b028ff;
}
.queries i {
  color: #28ffd0;
}
.likes i {
  color: #ff28db;
}
.subs i {
  color: #ff2828;
}
.comment i {
  color: #ffae00;
}
.bottom-icons {
  display: flex;
  justify-content: space-between;
}
.bottom-post {
  padding: 1rem;
}
.post-img {
  width: 100%;
}
.post-options {
  display: flex;
  justify-content: space-between;
}
.img-dash {
  height: 180px;
}
.delete {
  background: red;
  color: white;
}
.edit {
  color: white;
}
/* NEW POST */
.create {
  max-width: 1000px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
  padding: 1rem;
  margin: 6rem auto;
  font-size: 1rem;
}
.create input {
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px black;
  width: 96.5%;
  margin: auto;
}
.submit {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  background: var(--link-color);
  font-size: 1.3rem;
  margin: 2rem auto;
}
.submit:hover {
  color: white;
  opacity: 0.8;
}
/* QUERIES */
.queries-h2 {
  margin: 6rem auto 2rem auto;
}
.queries-container {
  margin: 2rem auto;
  max-width: 1000px;
}
.single-query {
  box-shadow: 0 0 10px rgb(189, 187, 187);
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}
.commenter-name {
  font-size: 1.2rem;
  color: var(--link-color);
  text-transform: capitalize;
}
.delete-icon {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}
.sender-email {
  color: var(--secondary-color);
  font-size: 1rem;
}
.disp-flex {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
/* READ BLOG */
.page-container {
  max-width: 900px;
  margin: auto;
}
.onRead-title {
  margin: 6rem 0 1rem 0;
}
.onRead-post {
  font-size: 1.2rem;
  margin: 4rem 0;
}
/* .time {
  margin:  auto;
} */
.like-btn {
  background: rgb(217, 0, 255);
  max-width: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 4rem;
  color: white;
}
.commentsForm {
  display: flex;
  flex-direction: column;
}
.comment-input {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1rem;
  max-width: 500px;
  min-height: 150px;
  margin: auto;
  margin-top: 3rem;
}
.each-comment {
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(194, 194, 194);
  padding: 1rem;
  margin: 1rem;
}
.comment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.dash-title {
  color: var(--secondary-color);
  margin: 1.2rem 0;
  text-decoration: none;
  height: 50px;
  font-weight: bold;
  overflow: hidden;
}
.over-btn {
  display: none;
}
.dd-menu {
  color: var(--main-color);
  text-align: center;
  background: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 0 5px;
  padding: 1rem;
  display: none;
  position: absolute;
}

.dd-link {
  cursor: pointer;
  margin: 1rem;
}
.dd-link:hover {
  color: var(--link-color);
}
.profile-wrapper:hover .dd-menu {
  display: block;
}

@media screen and (max-width: 1050px) {
  .prev {
    top: 15%;
    left: 0;
  }
  .next {
    top: 15%;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -16%);
    -webkit-clip-path: circle(100px at 90% -16%);
    pointer-events: none;
  }
  .nav-links.open {
    display: flex;
    clip-path: circle(1000px at 90% -16%);
    -webkit-clip-path: circle(1000px at 90% -16%);
    transition: all 150ms ease-in-out;
    pointer-events: all;
  }
  .nav-link {
    margin-bottom: 1.5rem;
  }

  .burger {
    display: block;
    position: fixed;
    top: 2.1%;
    right: 5%;
  }
  .left {
    display: none;
  }
  .upper {
    display: flex;
    flex-direction: column;
  }
  .each-project {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  .post-card {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5rem 0.7em;
  }

  .p-name {
    margin-top: 0;
  }
  .project-img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0pc;
  }
  /* .left {
    display: none;
  } */
  .right {
    margin: 5rem 0.5rem 2rem 0.5rem;
    z-index: 2;
  }
  .over-btn {
    display: block;
    cursor: pointer;
  }
  .skill {
    width: 18.4rem;
  }
  .about {
    margin: 3rem 1rem;
  }

  .contact-page {
    /* display: flex; */
    flex-direction: column-reverse;
  }
}
/* loader */

:root {
  --effect: hover 1s linear infinite;
}

.loader-container {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: white;
  justify-content: center;
  position: fixed;
  z-index: 3;
}
.disabled {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -75px 0 0 -75px;
  border-radius: 90%;
  border: 3px solid transparent;
  border-top-color: #28ff8c;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #5acf0b;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c4ff3b;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
